{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n %}

{% block nav-teacheradmin-announcements %}active{% endblock %}

{% block section %}
  {% if announcements %}
    <table class="table table-striped">
    <tbody>
      {% for announcement in announcements %}
      <tr>
        <td><a href="{% url teacheradmin_announcements_view course_slug=course.slug announ_id=announcement.id announ_slug=announcement.slug %}">{{ announcement.title }}</a></td>
        <td>{{ announcement.datetime }}</td>
        <td><a class="btn btn-small pull-right"
              href="{% url teacheradmin_announcements_delete course_slug=course.slug announ_id=announcement.id announ_slug=announcement.slug %}">
            <span class="icon-remove"></span></a>
            <a class="btn btn-small pull-right"
              href="{% url teacheradmin_announcements_edit course_slug=course.slug announ_id=announcement.id announ_slug=announcement.slug %}">
            <span class="icon-edit"></span></a>
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <div class="alert">
      {% trans "There isn't announcements yet" %}
    </div>
  {% endif %}
  <div>
  <a class="btn" href="{% url teacheradmin_announcements_add course_slug=course.slug %}"><span class="icon-plus"></span> {% trans "Add announcement" %}</a>
</div>
{% endblock %}
