{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n %}

{% block nav-teacheradmin-announcements %}active{% endblock %}

{% block section %}

{{ form.media }}

<form method="post">{% csrf_token %}
  {{ form }}
  <div class="form-actions">
    {% if announcement %}
    <input type="submit" class="btn btn-primary" value="{% trans 'Save changes' %}" />
    {% else %}
    <input type="submit" class="btn btn-primary" value="{% trans 'Create announcement' %}" />
    {% endif %}
  </div>

</form>



{% endblock %}
