{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n %}

{% block nav-teacheradmin-announcements %}active{% endblock %}

{% block section %}

<a class="btn btn-small pull-right" href="{% url teacheradmin_announcements_edit course_slug=course.slug announ_id=announcement.id announ_slug=announcement.slug %}"><i class="icon-edit"></i>Edit</a>
<h3>{{ announcement.title }}</h3>

<strong>{% trans "Date" %}:</strong>  {{ announcement.datetime }} </li>

<div>
  {{ announcement.content|safe }}
</div>

{% endblock %}
