{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li class="{% block nav-teacheradmin-stats %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}">{% trans "Statistics" %}</a></li>
            <li class="{% block nav-teacheradmin-info %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}info/">{% trans "Information" %}</a></li>
            <li class="{% block nav-teacheradmin-teachers %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}teachers/">{% trans "Teachers" %}</a></li>
            <li class="{% block nav-teacheradmin-units %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}units/">{% trans "Units" %}</a></li>
            <li class="{% block nav-teacheradmin-announcements %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}announcements/">{% trans "Announcements" %}</a></li>
            <li class="{% block nav-teacheradmin-emails %}{% endblock %}"><a href="{% url teacheradmin_stats course.slug %}emails/">{% trans "Send mail" %}</a></li>
        </ul>
    </div>

    <div class="span10">
        {% block section %}
        <div class="alert">
            <h4>{% trans "We are sorry" %}</h4>
            {% trans "But this section is not available yet." %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
