{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n %}

{% block extraheader %}
{{ form.media }}
{% endblock %}

{% block nav-teacheradmin-info %}active{% endblock %}

{% block section %}
<form action="" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="span5">
            <p>
                {{ form.name.errors }}
                {{ form.name.label_tag }}
                {{ form.name }}
            <p>
                {{ form.promotion_video.errors }}
                {{ form.promotion_video.label_tag }}
                {{ form.promotion_video }}
            </p>
            <p>
                {{ form.enrollment_method.errors }}
                {{ form.enrollment_method.label_tag }}
                {{ form.enrollment_method }}
            </p>
        </div>
        <div class="span5">
            <p>
                {{ form.start_date.errors }}
                {{ form.start_date.label_tag }}
                {{ form.start_date }}
            </p>
            <p>
                {{ form.end_date.errors }}
                {{ form.end_date.label_tag }}
                {{ form.end_date }}
            </p>
        </div>
    </div>
    <p>
        {{ form.description.errors }}
        {{ form.description.label_tag }}
        {{ form.description }}
    </p>
    <p>
        {{ form.requirements.errors }}
        {{ form.requirements.label_tag }}
        {{ form.requirements }}
    </p>
    <p>
        {{ form.intended_audience.errors }}
        {{ form.intended_audience.label_tag }}
        {{ form.intended_audience }}
    </p>
    <p>
        {{ form.estimated_effort.errors }}
        {{ form.estimated_effort.label_tag }}
        {{ form.estimated_effort }}
    </p>
    <p>
        {{ form.learning_goals.errors }}
        {{ form.learning_goals.label_tag }}
        {{ form.learning_goals }}
    </p>
    <p>
      <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
    </p>
</form>
{% endblock %}
