{% extends "teacheradmin/base_teacheradmin.html" %}

{% load i18n compress %}

{% block nav-teacheradmin-units %}active{% endblock %}

{% block mainclass %}teacheradmin-units{% endblock %}

{% block extraheader %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.2.3.1-j6.min.css">
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}js/libs/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/underscore-1.3.3.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-0.9.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/libs/async.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
    <script src="{{ STATIC_URL }}js/libs/bootstrap-fileupload.2.3.1-j6.min.js" type="text/javascript"></script>
{% compress js %}
    <script src="{{ STATIC_URL }}js/ajax.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/models.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/teacheradmin/units-views.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/teacheradmin/units-routes.js" type="text/javascript"></script>
{% endcompress %}
    <script type="text/javascript">
        MOOC.trans = {
            nothing: "{% trans "Nothing" %}",
            edit: "{% trans "Edit" %}",
            add: "{% trans "Add" %}",
            back: "{% trans "Go back" %}",
            unit: {
                unit: "{% trans "unit" %}",
                d: "{% trans "Draft" %}",
                l: "{% trans "Listable" %}",
                p: "{% trans "Published" %}",
                n: "{% trans "Normal" %}",
                h: "{% trans "Homework" %}",
                e: "{% trans "Exam" %}"
            },
            kq: {
                teacher_comments: "{% trans "Instructor's comments" %}",
                supplementary_material: "{% trans "Supplementary material" %}",
                kq: "{% trans "nugget" %}",
                question: "{% trans "It has a question" %}",
                pr: "{% trans "PR" %}",
                prTooltip: "{% trans "Peer review" %}",
                asset: "{% trans "AS" %}",
                assetTip: "{% trans "Asset Availability" %}",
                
            },
            evaluationCriterion: {
                description: "{% trans "Description:" %}",
                remove: "{%trans "Remove criterion" %}",
                title: "{% trans "Title:" %}",
            }
        };
        MOOC.init({{ course.id }}, {{ unit_badge_classes|safe }});
    </script>  
{% endblock %}

{% block section %}
<script id="edit-unit-tpl" type="text/template">
<form>
    <fieldset>
    <legend>{% trans "Unit" %}</legend>
    <div class="row">
        <div class="span10 mb10">
            <label class="required">{% trans "Status" %}</label>
            <label for="status-published" class="radio inline pointer">
                <input type="radio" name="status" id="status-published" /> {% trans "Published" %}
            </label>
            <label for="status-listable" class="radio inline pointer">
                <input type="radio" name="status" id="status-listable" /> {% trans "Listable" %}
            </label>
            <label for="status-draft" class="radio inline pointer">
                <input type="radio" name="status" id="status-draft" /> {% trans "Draft" %}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <label for="title" class="required">{% trans "Title" %}</label>
            <input id="title" type="text" name="title" maxlength="200" class="input-xlarge" required="required" />
        </div>
        <div class="span4">
            <label for="type" class="required">{% trans "Type" %}</label>
            <select name="type" id="type">
                <option value="n" selected="selected">{% trans "Normal" %}</option>
                <option value="h">{% trans "Homework" %}</option>
                <option value="e">{% trans "Exam" %}</option>
            </select>
        </div>
        <div class="span2">
            <label for="weight" class="required">{% trans "Weight" %}</label>
            <div class="input-append">
                <input type="number" min="0" max="100" step="1" name="weight" id="weight" class="input-mini" required="required" />
                <span class="add-on">%</span>
            </div>
        </div>
    </div>
    <div id="dates" class="row hide">
        <div class="span4">
            <label for="start_date">{% trans "Start date" %}</label>
            <input type="date" name="start_date" id="start_date" placeholder="YYYY-MM-DD" class="input-xlarge" />
        </div>
        <div class="span4">
            <label for="end_date">{% trans "End date" %}</label>
            <input type="date" name="end_date" id="end_date" placeholder="YYYY-MM-DD" class="input-xlarge" />
        </div>
    </div>
    </fieldset>
    <div class="row"><div class="span10 align-right">
        <button id="save-unit" class="btn btn-primary"><i class="icon icon-white icon-ok"></i> {% trans "Save" %}</button>
        <button id="delete-unit" class="btn btn-danger"><i class="icon icon-white icon-remove"></i> {% trans "Delete" %}</button>
        <button class="btn back"><i class="icon icon-arrow-left"></i> {% trans "Back" %}</button>
    </div></div>
</form>
</script>
<script id="edit-kq-tpl" type="text/template">
<form>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#nugget" data-toggle="tab">{% trans "Nugget" %}</a></li>
        <li id="attachments-tab"><a href="#attachments" data-toggle="tab">{% trans "Attachments" %}</a></li>
        <li id="question-tab" class="hide"><a href="#question" data-toggle="tab">{% trans "Question" %}</a></li>
        <li id="peer-review-assignment-tab" class="hide"><a href="#peer-review-assignment" data-toggle="tab">{% trans "Peer review" %}</a></li>
        <li id="asset-availability-tab" class="hide"><a href="#asset-availability" data-toggle="tab">{% trans "Asset Availability" %}</a></li>
    </ul>
    <div class="tab-content"><fieldset class="tab-pane active" id="nugget">
    <div class="row">
        <div class="span4">
            <label for="kqtitle" class="required">{% trans "Title" %}</label>
            <input id="kqtitle" type="text" name="kqtitle" maxlength="200" class="input-xlarge" required="required" />
        </div>
        <div class="span4">
            <label for="kqvideo" class="required">{% trans "Video url" %}</label>
            <input id="kqvideo" type="text" name="kqvideo" maxlength="200" class="input-xlarge" required="required" />
        </div>
        <div class="span2">
            <label for="kqweight" class="required">{% trans "Weight" %}</label>
            <div class="input-append">
                <input type="number" min="0" max="100" step="1" name="kqweight" id="kqweight" class="input-mini" required="required" />
                <span class="add-on">%</span>
            </div>
        </div>
    </div>
    <div class="row mb20">
        <div class="span5">
            <label for="kqsupplementary">{% trans "Supplementary material" %}</label>
            <textarea id="kqsupplementary" name="kqsupplementary" class="span5" rows="5"></textarea>
        </div>
        <div class="span5">
            <label for="kqcomments">{% trans "Instructor's comments" %}</label>
            <textarea id="kqcomments" name="kqcomments" class="span5" rows="5"></textarea>
        </div>
    </div>
    <div id="noquestion" class="row mb20">
        <div class="span10 align-right">
            <button id="addquestion" class="btn btn-primary">{% trans "Save changes and add a question to this nugget" %}</button>
        </div>
    </div>
    <div id="nopeerreviewassignment" class="row mb20">
        <div class="span10 align-right">
            <button id="addpeerreviewassignment" class="btn btn-primary">{% trans "Save changes and add a peer review assignment to this nugget" %}</button>
        </div>
    </div>
    <div id="noassetavailability" class="row mb20">
        <div class="span10 align-right">
            <button id="addassetavailability" class="btn btn-primary">{% trans "Save changes and add an asset availability to this nugget" %}</button>
        </div>
    </div>
    </fieldset>
    <fieldset class="tab-pane" id="attachments">
        <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="input-append">
                <div class="uneditable-input span3">
                    <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                </div>
                <span class="btn btn-file">
                    <span class="fileupload-new">{% trans "Select file" %}</span>
                    <span class="fileupload-exists">{% trans "Change" %}</span>
                    <input type="file" />
                </span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">{% trans "Remove" %}</a>
            </div>
        </div>
        <table id="attachment-list" class="table table-striped">
            <thead>
                <th>{% trans "File name" %}</th><th class="center">{% trans "Remove" %}</th>
            </thead>
            <tbody></tbody>
        </table>
        <div class="alert alert-info hide" id="attachment-empty">{% trans "There are no attachments yet." %}</div>
    </fieldset>
    <fieldset class="tab-pane" id="question">
    <div class="row">
        <div class="span10">
            <legend>{% trans "Question's background" %}</legend>
            <div id="last-frame">
                <p>{% trans "Nugget's video last frame" %}</p>
                <p><img src="" alt="{% trans "Nugget's video last frame" %}" style="max-width: 400px;" /></p>
                <p><button id="dont-use-last-frame" class="btn" title="{% trans "Use a blank canvas instead" %}">{% trans "Don't use the last frame" %}</button></p>
                <p><button id="force-process" class="hide btn">{% trans "Force processing the nugget's video" %}</button></p>
            </div>
            <div id="no-last-frame" class="hide">
                <div class="alert alert-info">
                    <h4>{% trans "Using blank canvas" %}</h4>
                    <p>{% trans "You are using a blank canvas for the question instead of the last frame of the nugget's video." %}</p>
                </div>
                <p><button id="use-last-frame" class="btn" title="{% trans "Use the last frame of the nugget's video" %}">{% trans "Use the last frame" %}</button></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span10">
            <legend>{% trans "Question's solution" %}</legend>
            <div class="row mb10">
                <div class="span10">
                    <div class="btn-group">
                        <button class="btn active" id="use-solution-video-btn">{% trans "Use a video as solution" %}</button>
                        <button class="btn" id="use-solution-text-btn">{% trans "Use a text as solution" %}</button>
                    </div>
                </div>
            </div>
            <div class="row mb20" id="use-solution-video">
                <div class="span10">
                    <label for="questionvideo" class="required">{% trans "Solution video url" %}</label>
                    <input id="questionvideo" type="text" name="questionvideo" maxlength="200" class="span5" required="required" />
                </div>
            </div>
            <div class="row mb20 hide" id="use-solution-text">
                <div class="span10">
                    <label for="solution-text" class="required">{% trans "Solution text" %}</label>
                    <textarea name="solution-text" id="solution-text" class="span10" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="align-right span10">
            <button id="go2options" class="btn btn-primary">{% trans "Save changes and edit question's options" %}</button>
            <button id="delete-question" class="btn btn-danger">{% trans "Remove the question from this nugget" %}</button>
        </div>
    </div>
    </fieldset>
    <fieldset class="tab-pane" id="peer-review-assignment">
    <div class="row">
        <div class="span5">
            <label for="reviewdescription" class="required">{% trans "Assignment description" %}</label>
            <textarea id="reviewdescription" name="reviewdescription" class="span5" rows="5"></textarea>
        </div>
        <div class="span5">
            <label for="reviewminreviews" class="required">{% trans "Minimun reviewers" %}</label>
            <div class="input-append">
                <input type="number" min="0" max="100" step="1" name="reviewminreviews" id="reviewminreviews" class="input-mini" required="required" />
            </div>
        </div>
    </div>
    <div class="row">
      <div class="span10">
        <legend>{% trans "Evaluation criterions" %}</legend>
        <div id="reviewcriterions">
        </div>
        <div class="row">
            <div class="align-right">
                <button id="addcriterion" class="btn btn-primary">{% trans "Save changes and add an evaluation criterion" %}</button>
            </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
        <div class="mb10 align-right span10">
            <button id="delete-peer-review-assignment" class="btn btn-danger">{% trans "Remove the peer review assignment" %}</button>
        </div>
    </div>
    </fieldset>
    
    
    <fieldset class="tab-pane" id="asset-availability">
    <div class="row">
        <div class="span5">
            <label for="availablefromlabel" class="required"> {% trans "Available from:" %}</label>
            <input type="date" id="availablefrom" name="availablefrom" placeholder="YYYY-MM-DD" class="span5" ></input>
        </div>
        <div class="span5">
            <label for="availabletolabel" class="required"> {% trans "Available to:" %}</label>
            <input type="date" id="availableto" name="availableto" placeholder="YYYY-MM-DD" class="span5" ></input>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="mb10 align-right span10">
            <button id="delete-asset-availability" class="btn btn-danger">{% trans "Remove the asset availability" %}</button>
        </div>
    </div>
    </fieldset>
    </div>
    </div>
    
    
    <fieldset>
    <div class="row"><div class="span10 align-right"><div class="form-actions">
        <button id="save-kq" class="btn btn-primary"><i class="icon icon-white icon-ok"></i> {% trans "Save" %}</button>
        <button id="delete-kq" class="btn btn-danger"><i class="icon icon-white icon-remove"></i> {% trans "Delete" %}</button>
        <button class="btn back"><i class="icon icon-arrow-left"></i> {% trans "Back" %}</button>
    </div></div></div>
    </fieldset>
</form>
</script>
<script id="modal-video-player-tpl" type="text/template">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="media-player-label"><%= title %></h3>
  </div>
  <div class="modal-body">
    <iframe width="620px" height="372" src="//www.youtube.com/embed/<%= videoID %>?rel=0&controls=0&origin="<%= host %>" frameborder='0'></iframe>
  </div>
</script>

<div class="loading backdrop hide"></div>
<div class="loading indicator hide"></div>

<div class="alert alert-success hide" id="saved">
    <h4>{% trans "Success" %}</h4>
    <p>{% trans "The changes were saved successfully." %}</p>
</div>
<div class="alert alert-success hide" id="forced">
    <h4>{% trans "Success" %}</h4>
    <p>{% trans "A task for processing the video has been queued. Refresh in a few moments." %}</p>
</div>
<div class="alert alert-error hide" id="generic">
    <h4>{% trans "Error" %}</h4>
    <p>{% trans "Something went wrong, please try again later." %}</p>
</div>
<div class="alert alert-error hide" id="required">
    <h4>{% trans "Error" %}</h4>
    <p>{% trans "A required field is empty." %}</p>
</div>
<div class="alert alert-error hide" id="unsaved">
    <h4>{% trans "Error" %}</h4>
    <p>{% trans "This item is new and must be saved before going back." %}</p>
</div>

<div id="confirm-delete-action" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{% trans "Confirm removal" %}</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Are you completely sure you want to remove this? You cannot undo this action." %}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button type="button" class="btn btn-danger">{% trans "Confirm" %}</button>
    </div>
</div>

<div id="units-container" class="viewport"></div>
<div id="unit-editor" class="viewport hide"></div>
<div id="kq-editor" class="viewport hide"></div>

<div id="media-player" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="media-player-label" aria-hidden="true">
</div>
{% endblock %}
