{% extends "base.html" %}

{% load i18n %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
<div class="media-box">
  <a href="#">
    <img src="{{ theme.top_banner }}" alt="" />
  </a>
</div>

<div class="row">
  <section class="span8" id="complaints">
        <h1>{% trans "Contact" %}</h1>
        <form action="/complaints/#complaints" method="post">{% csrf_token %}
            <div class="control-group">
            {{ form.as_p }}
            </div>
            <input class="btn" type="submit" value="Submit" />
        </form>

  </section>
  <div class="span4">
    <div class="media-box">
      <img src="{{ theme.right_banner1 }}" alt="" />
    </div>
    <div class="media-box">
      <img src="{{ theme.right_banner2 }}" alt="" />
    </div>
  </div>
</div>
{% endblock %}
