{% extends "base.html" %}

{% load i18n %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
<div class="media-box">
  <a href="#">
    <img src="{{ theme.top_banner }}" alt="" />
  </a>
</div>

<div class="row">
  <section class="span8">
        <h1>{% trans "HelpDesk" %}</h1>
        <p>{% trans "Thank you for contacting us." %}</p>
        <p>{% trans "The provided information will be sent to the appropriate staff. Soon we will contact you for inform about the state of the process" %}</p>

  </section>
  <div class="span4">
    <div class="media-box">
      <img src="{{ theme.right_banner1 }}" alt="" />
    </div>
    <div class="media-box">
      <img src="{{ theme.right_banner2 }}" alt="" />
    </div>
  </div>
</div>
{% endblock %}
