{% extends "portal/base_announcement.html" %}

{% load conditionalcache i18n %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
    <div class="row">
        <section class="span12">
            <h1 class="content-title">{% trans "Announcements" %}</h1>
            {% conditionalcache use_cache 3600 announcements %}
                {% include "portal/inc.announcement.html" %}
            {% endconditionalcache %}
        </section>
    </div>
    {{ block.super }}
{% endblock %}
