{% extends "portal/base_announcement.html" %}

{% load conditionalcache i18n pagination_tags %}


{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
    <div class="row">
        <section class="span12">
            <h1 class="content-title">
                {% trans "Announcements" %}
                <a class="pull-right" href="{% url portal_announcements_feed %}">
                    <img src="{{ STATIC_URL }}img/share_icons/rss.png" alt="{% trans "Subscribe to Announcements RSS" %}" />
                </a>
            </h1>
            <ul class="breadcrumb">
                <li class="active">{% trans "Announcements" %}</li>
            </ul>
            {% conditionalcache use_cache 3600 announcements %}
                {% autopaginate announcements %}
                {% for announcement in announcements %}
                    {% include "portal/inc.announcement.html" %}
                {% endfor %}
                {% paginate %}
            {% endconditionalcache %}
        </section>
    </div>
    {{ block.super }}
{% endblock %}
