{% load i18n compress %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ site.name }}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ theme.bootstrap_css }}">
  <link rel="stylesheet" href="{{ theme.moocng_css }}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  {% compress js %}
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
  {% endcompress %}
  {% block extraheader %}{% endblock %}
</head>
<body>
  <div class="container">
    <header>
      <hgroup>
        <h1><a href="{% url home %}" class="hide-text"><img src="{{ theme.logo }}" alt="{{ site.name }}" />{{ site.name }}</a></h1>
        <h2 class="small pull-left">{{ theme.subtitle }}</h2>
      </hgroup>
      {% if user.is_authenticated %}
      {% block useractions %}{% endblock %}
      {% else %}
      <div class="btn-toolbar pull-right">
        <a class="btn" href="{{ registry_url }}">{% trans "Register" %}</a>
        <a class="btn" href="{% url saml2_login %}">{% trans "Log in" %}</a>
      </div>
      {% endif %}
      <div class="clearfix"></div>
    </header>
    <div role="main" class="{% block mainclass %}{% endblock %}">
      {% if messages %}{% for message in messages %}
      <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
      {% endfor %}{% endif %}

      {% block nav %}{% endblock %}

      {% block content %}{% endblock %}
    </div>
    <footer>
      <ul>
        <li><a href="#">{% trans "Legal" %}</a></li>
        <li><a href="#">{{ site.name }} Copyright {% now "Y" %}</a></li>
        <li><a href="#">{% trans "Terms of Use" %}</a></li>
      </ul>
    </footer>
  </div>

  {% block extrajs %}{% endblock %}
  {% if GOOGLE_ANALYTICS_CODE %}
  <script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS_CODE }}}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}
</body>
</html>
