{% load i18n %}

{% if pending == 0 %}

<p>{% trans "Contratulations, you have reviewed the minimum number of required submissions. Thank you so much for your amazing team work. But you can keep reviewing more. Your help is much appreciated." %}</p>

{% endif %}

{% if assigned.count > 0 %}

<p>{% trans "You are currently reviewing the following submissions:" %}</p>

<ul>
  {% for assign in assigned %}
  <li>{% blocktrans with created=assign.created %}Submission sent on {{ created }}.{% endblocktrans %}
    <a href="{% url course_review_review course_slug peer_review_assignment_id %}">{% trans "Finish reviewing it." %}</a>
  </li>
  {% endfor %}
</ul>

{% else %}

{% if has_sent_submission %}
<form action="{% url course_review_assign course_slug peer_review_assignment_id %}" method="post">{% csrf_token %}
  <input type="submit" class="btn btn-primary" value='{% trans "Review another submission" %}' />
</form>
{% else %}
<p><i class="icon-warning-sign"></i> {% trans "You must send your submission before reviewing your classmates' ones" %}</p>
{% endif %}

{% endif %}


{% if reviewed.count > 0 %}
<h5>{% trans "Submissions already reviewed" %}</h5>

<ul>
  {% for review in reviewed %}
  <li>{% blocktrans with created=review.created %}Submission reviewed on {{ created }}.{% endblocktrans %}</li>
  {% endfor %}
</ul>

{% endif %}

{% if pending > 0 %}

<p><i class="icon-warning-sign"></i> {% blocktrans %}You still need to review {{ pending }} more submissions.{% endblocktrans %}</p>

{% endif %}
