{% extends "courses/base_course.html" %}

{% load i18n peer_review_tags %}

{% block nav-course-reviews %}class="active"{% endblock %}


{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.criteria_value').each(function (index, item) {
                $(item).parent().find('button[data-value='+$(item).val()+']').addClass('active');
            });
            $('button.criteria_value').click(function (event) {
                target = $(event.target);
                input = $('input[name='+target.attr('data-name')+']');
                input.val(target.attr('data-value'));
            });
        });
    </script>
{% endblock %}

{% block content %}

<h2>{% trans "Review" %}</h2>

<div class="span12">
    <div class="span5">
        <h3>{% trans "Activity description" %}</h3>
        {{ review.description|safe }}
    </div>

    <div class="span5">
        <h3>{% trans "Student response" %}</h3>
        {{ submission.text }}
        <a href="{{ submission.file }}">{% trans "Attachment" %}</a>
    </div>
</div>

<h3>{% trans "Your review" %}</h3>

<form method="post">
    <div class="clearfix">
       {% csrf_token %}
       {{ criterias_formset.management_form }}
       <div class="span6">
           {% for criteria in criterias_formset %}
               {{ criteria.evaluation_criteria_id }}
               <div class="clearfix well well-small">
                   <p><a class="label" title="Prueba">{{ criteria.evaluation_criteria_id.value|get_criteria_description }}</a></p>
                   <div class="btn-group pull-right" data-toggle="buttons-radio">
                       <button type="button" class="btn btn-warning disabled"><i class="icon-minus"></i></button>
                       {% for choice in criteria.value %}
                           <button type="button" data-name="{{ criteria.value.html_name }}" data-value="{{ choice.choice_value }}" class="btn criteria_value">{{ choice.choice_label }}</button>
                       {% endfor %}
                       <input type="hidden" class="criteria_value" name="{{ criteria.value.html_name }}" value="{{ criteria.value.value }}">
                       <button type="button" class="btn btn-success disabled"><i class="icon-plus"></i></button>
                   </div>
                   {{ criteria.value.errors }}
               </div>
           {% endfor %}
       </div>
       <div class="span5 well well-small">
           {{ submission_form }}
       </div>
    </div>
    <p class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Send review" %}" />
    </p>
</form>

{% endblock %}
