{% extends "courses/base_course.html" %}

{% load i18n peer_review_tags %}

{% block nav-course-reviews %}class="active"{% endblock %}


{% block extrajs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.criterion_value').each(function (index, item) {
                $(item).parent().find('button[data-value='+$(item).val()+']').addClass('active');
            });
            $('button.criterion_value').click(function (event) {
                target = $(event.target);
                if(!target.attr('data-name')) {
                    target = $(target.parent());
                }
                input = $('input[name='+target.attr('data-name')+']');
                input.val(target.attr('data-value'));
            });
        });
    </script>
{% endblock %}

{% block content %}

<h2>{% trans "Review" %}</h2>

<div class="span12">
    <div class="span5">
        <h3>{% trans "Activity description" %}</h3>
        {{ assignment.description|safe }}
    </div>

    <div class="span5">
        <h3>{% trans "Student response" %}</h3>
        {{ submission.text }}
        <a href="{{ submission.file }}">{% trans "Attachment" %}</a>
    </div>
</div>

<h3>{% trans "Your review" %}</h3>

<form method="post">
    <div class="clearfix">
       {% csrf_token %}
       {{ criteria_formset.management_form }}
       <div class="span6">
           {% for criterion in criteria_formset %}
               {{ criterion.evaluation_criterion_id }}
               <div class="clearfix well well-small">
                   <p><a class="label" title="{{ criterion.evaluation_criterion_id.value|get_criterion_description }}">{{ criterion.evaluation_criterion_id.value|get_criterion_title }}</a></p>
                   <div class="btn-group pull-right" data-toggle="buttons-radio">
                       <button type="button" data-name="{{ criterion.value.html_name }}" data-value="" class="btn btn-warning criterion_value disabled"><i class="icon-minus"></i></button>
                       {% for choice in criterion.value %}
                           <button type="button" data-name="{{ criterion.value.html_name }}" data-value="{{ choice.choice_value }}" class="btn criterion_value">{{ choice.choice_label }}</button>
                       {% endfor %}
                       <input type="hidden" class="criterion_value" name="{{ criterion.value.html_name }}" value="{% if criterion.value.value %}{{ criterion.value.value }}{% endif %}">
                       <button type="button" data-name="{{ criterion.value.html_name }}" data-value="" class="btn btn-success criterion_value disabled"><i class="icon-plus"></i></button>
                   </div>
                   {{ criterion.value.errors }}
               </div>
           {% endfor %}
       </div>
       <div class="span5 well well-small">
           {{ submission_form }}
       </div>
    </div>
    <p class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Send review" %}" />
    </p>
</form>

{% endblock %}
