{% extends "base.html" %}

{% load i18n askboturl %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}

<p><big>{% blocktrans with first_name=user.first_name last_name=user.last_name %}The user "<b>{{ first_name }} {{ last_name }}</b>" has the award:{% endblocktrans %} <b>{{ award.badge.title }}</b></big></p>
<p>
    <img src="{{ award.get_image_url }}" alt="{{ award.badge.title }}" title="{{ award.badge.title }}" width="50" height="50" class="award" />
    <code>{{ award.get_image_public_url }}</code>
</p>

{% if award.badge.description %}
<p>{{ award.badge.description }}</p>
{% endif %}

{% endblock %}
