body {
    background-color: #f1f1f1;
}

header {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 1em;
    position: relative;
}

header h2 {
    padding-top: 0.5em;
    font-size: 12pt;
}

footer {
    border-top: 1px solid #dddddd;
    padding: 1em 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    padding-right: 1em;
}

.media-box {
    margin-bottom: 1em;
}

.content-title {
    color: #ffffff;
    background-color: #000000;
    padding: 0.25em 0.5em;
    margin: 0 0 0.5em 0;
}

.box {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 20px;
}

.box h2 {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0.5em;
    padding: 0;
}

.box-footer {
    margin-top: 1em;
    padding: 1em 0 0 0;
    border-top: 1px solid #dddddd;
}

.mb20 {
    margin-bottom: 20px;
}

.row.alerts {
    margin-top: 10px;
}

.courseprogress #unit-progress-bar .progress,
.courseprogress #unit-progress-bar .progress .bar {
    height: 30px;
}

.courseprogress #unit-kqs li {
    margin-bottom: 5px;
}

.classroom #unit-selector .accordion-group {
    background-color: #FAFAFA;
}

.classroom #kq-video {
    position: relative;
    margin-bottom: 10px;
}

.classroom #kq-video img {
    display: block;
    margin: 0 auto;
}

.classroom #kq-video input {
    position: absolute;
}

.classroom #kq-video input.correct {
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

.classroom #kq-video input.incorrect {
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.classroom #kq-video input.correct[type=checkbox],
.classroom #kq-video input.correct[type=radio]
{
    outline: 2px solid #468847;
}

.classroom #kq-video input.incorrect[type=checkbox],
.classroom #kq-video input.incorrect[type=radio]
{
    outline: 2px solid #B94A48;
}


.classroom div.kqContainer li {
    margin-top: 3px;
}

.classroom div.kqContainer span {
    cursor: pointer;
}

.classroom #kq-q-buttons {
    text-align: center;
}
