{% extends "courses/base_course.html" %}

{% load i18n %}

{% block nav-course-classroom %}class="active"{% endblock %}

{% block content %}
<div class="row">
    <section class="span8">
        <iframe width="770" height="433" src="http://www.youtube.com/embed/moZExve-AeQ?rel=0" frameborder="0" allowfullscreen></iframe>
    </section>
    <div class="span4" id="unit-selector">
        {% for unit in unit_list %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" href="#unit{{ unit.id }}" data-toggle="collapse" data-target="#unit{{ unit.id }}" data-parent="#unit-selector">{{ unit.title }}</a>
            </div>
            <div id="unit{{ unit.id }}" class="collapse accordion-body">
                <div class="accordion-inner">
                    <ol>
                        <li>Praesent pharetra</li>
                        <li>Quisque mi turpis</li>
                        <li>Nam blandit</li>
                    </ol>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <section class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#comments" data-toggle="tab">Instructor's comments</a></li>
            <li><a href="#suplementary" data-toggle="tab">Suplementary material</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="comments">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                a mauris dolor, quis sagittis velit. Nullam sit amet felis ac
                est bibendum fringilla. Donec imperdiet tempus dolor, et
                rhoncus ante eleifend nec.</p>
                <p>Mauris porttitor porta purus, eu condimentum diam porttitor
                eu. Praesent dignissim lorem vel nisl venenatis vulputate
                porttitor mi laoreet. Donec mattis urna ac justo bibendum
                luctus egestas elit porta.</p>
                <p>Sed blandit, massa eu ullamcorper aliquet, leo tellus
                placerat velit, a pharetra lectus enim ut urna. Morbi malesuada
                dolor nec lacus blandit porttitor. Phasellus at semper leo.
                Praesent tincidunt orci id odio aliquet ac porta justo mattis.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Maecenas nibh ipsum, semper
                ut consectetur eu, malesuada nec ante. Nulla facilisi.</p>
            </div>
            <div class="tab-pane" id="suplementary">
                <p>Vestibulum lorem leo, semper vel fermentum ornare, fringilla
                et tortor. Nullam a congue purus. Nullam egestas mi ac nunc
                tincidunt eleifend pellentesque nunc vestibulum. Maecenas eget
                rhoncus orci. Duis nec arcu eget tortor porta egestas. Quisque
                tortor metus, hendrerit sit amet malesuada in, sollicitudin et
                diam. Donec ut risus ipsum, eget semper nisi. Aliquam viverra,
                orci sit amet aliquet faucibus, mauris eros consequat turpis,
                nec tempus enim quam a nisl. Suspendisse sagittis, justo et
                ultrices volutpat, nulla sem aliquet enim, sit amet blandit
                velit leo eget nunc. Etiam tempor dolor id diam dictum posuere.
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}js/libs/underscore-1.3.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/backbone-0.9.2.min.js"></script>
    <script src="{{ STATIC_URL }}js/models.js"></script>
    <script src="{{ STATIC_URL }}js/views.js"></script>
    <script src="{{ STATIC_URL }}js/routes.js"></script>
    <script type="text/javascript">
        $("#unit-selector .collapse").collapse({
            parent: "#unit-selector",
            toggle: false
        });
        MOOC.init();
    </script>
{% endblock %}
