{% load i18n %}

{% for course in courses %}
    <div class="row">
    {% if forloop.counter0|divisibleby:4 %}

    {% endif %}
        <div class="span3 {% if not course.is_public %}draft{% endif %}">
            {% if not course.is_public %}
                <p class="label pull-right">{% trans "Draft" %}</p>
            {% endif %}
            <h3><a href="{{ course.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ course.main_image }}"></a></h3>
            <p>{{ course.name }}</p>
            <p>{{ course.description|safe|truncatewords_html:60 }}</p>
            <p class="box-footer"><a href="{{ course.get_absolute_url }}">{% trans "More information about this course" %}</a></p>
        </div>
{% endfor %}
</div>
