{% extends "base.html" %}

{% load conditionalcache i18n %}

{% block content %}
    <div class="media-box">
        {% if theme.top_banner %}
            <a href="#">
                <img src="{{ theme.top_banner }}" alt="{{ theme.top_banner_alt }}" />
            </a>
        {% endif %}
    </div>
    <div class="row">
        <section class="span12">
            <h1 class="content-title">{% trans "Courses" %}</h1>
            {% conditionalcache use_cache 3600 course_list %}
                {% for course_tuple in courses %}
                    <div class="row">
                        {% for course in course_tuple %}
                        {% if course %}
                            <div class="span4 {% if not course.is_public %}draft{% endif %}">
                            <h3>
                                {% if course.thumbnail %}
                                    <a href="{{ course.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ course.thumbnail }}" alt="{% if course.thumbnail_alt %}{{ course.thumbnail_alt }}{% else %}{% trans 'decorative classroom image' %}{% endif %}"></a>
                                {% else %}
                                    <a href="{{ course.get_absolute_url }}"><img src="{{ STATIC_URL }}img/classroom.png" alt="{% trans 'decorative classroom image' %}"></a>
                                {% endif %}
                                <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
                            </h3>
                            <div>{{ course.description|safe|truncatewords_html:60 }}</div>
                            <p class="box-footer"><a href="{{ course.get_absolute_url }}">{% trans "More information about this course" %}</a></p>
                            {% if not course.is_public %}
                                <p class="label pull-right">{% trans "Draft" %}</p>
                            {% endif %}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endconditionalcache %}
        </section>
    </div>
{% endblock %}
