{% extends "base.html" %}

{% load i18n %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
<div class="media-box">
  <a href="#">
    <img src="{{ STATIC_URL}}img/{{ theme.top_banner }}" alt="" />
  </a>
</div>

<div class="row">
  <section class="span8">
    <h1 class="content-title">{% trans "Courses" %}</h1>

    {% for course in courses %}
    <div class="box">
      <h2><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h2>
      {{ course.description|safe }}
      <p class="box-footer"><a href="{{ course.get_absolute_url }}">{% trans "More information about this course" %}</a></p>
    </div>
    {% endfor %}

  </section>
  <div class="span4">
    <img src="{{ STATIC_URL }}img/{{ theme.right_banner }}" alt="" />
  </div>
</div>
{% endblock %}

