{% extends "base.html" %}

{% load cache i18n %}

{% block useractions %}{% include "courses/include.useractions.html" %}{% endblock %}

{% block content %}
<div class="media-box">
{% if theme.top_banner %}
  <a href="#">
    <img src="{{ theme.top_banner }}" alt="" />
  </a>
{% endif%}
</div>

<div class="row">
  <section class="span8">
    <h1 class="content-title">{% trans "Courses" %}</h1>

    {% cache 3600 course_list %}
    {% for course in courses %}
    <div class="box">
      <h2><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h2>
      {{ course.description|safe|truncatewords:60 }}
      <p class="box-footer"><a href="{{ course.get_absolute_url }}">{% trans "More information about this course" %}</a></p>
    </div>
    {% endfor %}
    {% endcache %}

  </section>
  <div class="span4">
    <div class="media-box">
      <img src="{{ theme.right_banner1 }}" alt="" />
    </div>
    <div class="media-box">
      <img src="{{ theme.right_banner2 }}" alt="" />
    </div>
  </div>
</div>
{% endblock %}

