{% load i18n usercourses %}
<div class="btn-toolbar pull-right">
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      {% trans "My courses" %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% usercourses %}
      <li class="divider"></li>
      <li><a href="{% url home %}">{% trans "See all courses" %}</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown">
      {% trans "Welcome" %}, {% firstof user.get_full_name user.username %}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">{% trans "My transcript" %}</a></li>
      <li><a href="#">{% trans "Account settings" %}</a></li>
      <li><a href="{{ profile_url }}">{% trans "Profile settings" %}</a></li>
      {% if user.is_staff %}
      <li class="divider"></li>
      <li>
        <a href="/admin">{% trans "Admin interface" %}</a>
      </li>
      {% endif %}
      <li class="divider"></li>
      <li><a href="{% url saml2_logout %}">{% trans "Log out" %}</a></li>
    </ul>
  </div>
</div>
