{% extends "courses/base_course.html" %}

{% load i18n %}

{% block content %}
<div class="row">
    <section class="span12">
        <h2>{% trans "This course is not ready yet" %}</h2>
        <p>
        {% blocktrans with course_name=course.name %}The course "{{ course_name }}" has no content.{% endblocktrans %}
        {% url contact as contact_url %}
        {% if ask_admin %}
            {% blocktrans %}Consider <a href="{{ contact_url }}">getting in touch with an administrator</a>.{% endblocktrans %}
        {% else %}
            {% blocktrans with date=course.start_date %}It starts in {{ date }}.{% endblocktrans %}
            </p><p>
            {% blocktrans %}Please, use this <a href="{{ contact_url }}">contact form</a> if you have any questions.{% endblocktrans %}
        {% endif %}
        </p>
    </section>
</div>
{% endblock %}
