{% extends "courses/base_course.html" %}

{% load cache gravatar i18n enrollment_tags media_contents %}

{% block nav-course-overview %}class="active"{% endblock %}

{% block extraheader %}
<link rel="alternate" type="application/rss+xml" href="{% url announcements_feed course.slug %}" />
{% endblock %}

{% block content %}
<h1>{{ course.name }}</h1>

<div class="row">
    {% cache 3600 course_overview_main_info course.id %}
    <div class="span8">
        {% if course.promotion_media_content_type and course.promotion_media_content_id %}
            <div class="media-box">
                {% media_content_iframe_code course.promotion_media_content_type course.promotion_media_content_id height="349px" width="620px" allowfullscreen="1" controls="1" %}
            </div>
        {% endif %}

        <div class="box">
            <h2>{% trans "Course summary" %}</h2>
            {{ course.description|safe }}
        </div>

        {% if course.learning_goals %}
            <div class="box">
                <h2>{% trans "Learning goals" %}</h2>
                {{ course.learning_goals|safe }}
            </div>
        {% endif %}

        {% if course.requirements %}
            <div class="box">
                <h2>{% trans "Recommended requirements" %}</h2>
                {{ course.requirements|safe }}
            </div>
        {% endif %}

        {% if course.intended_audience %}
            <div class="box">
                <h2>{% trans "Intended audience" %}</h2>
                {{ course.intended_audience|safe }}
            </div>
        {% endif %}
    </div>
    {% endcache %}

    <div class="span4">
        {% if is_enrolled %}
        <div class="box action-box">
            <div class="alert alert-success">
                <strong>{% trans "You are enrolled in this course" %}</strong>
                {% unenroll_button course %}
            </div>
        </div>
        {% else %}
          {% if user.is_authenticated %}
            {% enroll_button course %}
          {% else %}
          <div class="box action-box">
              <a href="{{ registry_url }}" class="btn btn-large btn-primary">{% blocktrans with site_name=site.name %}Register in {{ site_name }} to enroll in this course{% endblocktrans %}</a>
          </div>
          {% endif %}
        {% endif %}

        {% if course.certification_available %}
            <div style="text-align: center">
                {% if user.is_authenticated %}
                    <a href="{% url transcript %}#{{ course.slug }}">
                        {% if course.certification_banner %}
                        <img class="mb20" src="{{ course.certification_banner.url }}" width="300" title="{% trans "Get a certification in this course" %}" alt="{% trans "Get a certification in this course" %}" />
                        {% else %}
                        <img class="mb20" src="{{ theme.cert_banner }}" width="300" title="{% trans "Get a certification in this course" %}" alt="{% trans "Get a certification in this course" %}" />
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ registry_url }}" class="btn btn-large btn-primary mb20">{% blocktrans with site_name=site.name %}Register in {{ site_name }} to get a certification in this course{% endblocktrans %}</a>
                {% endif %}
            </div>
        {% endif %}

        {% cache 3600 course_overview_secondary_info course.id %}
        <div class="box">
            <h2>{% trans "Teachers" %}</h2>
            <ul class="unstyled clearfix">
            {% for course_teacher in course_teachers %}
                <li class="teacher">
                  <img src="{% gravatar_for_email course_teacher.teacher.email %}" width="50" height="50" />
                  <strong>{% firstof course_teacher.teacher.get_full_name course_teacher.teacher.username %}</strong>
                </li>
            {% endfor %}
            </ul>
        </div>

        <div class="box">
            <h2>{% trans "Information" %}</h2>
            <dl>
                <dt>{% trans "Course Code" %}</dt><dd>{{ course.slug }}</dd>
                {% if course.start_date %}
                    <dt>{% trans "Classes Start" %}</dt><dd>{{ course.start_date|date:"d / M / Y" }}</dd>
                {% endif %}
                {% if course.end_date %}
                    <dt>{% trans "Classes End" %}</dt><dd>{{ course.end_date|date:"d / M / Y" }}</dd>
                {% endif %}
                {% if course.estimated_effort %}
                    <dt>{% trans "Estimated Effort" %}</dt><dd>{{ course.estimated_effort|safe }}</dd>
                {% endif %}
                {% if use_old_calculus %}
                    <dt><a target="_new" href="{% url oldscore %}" ><small>{% trans "Evaluation criteria" %}</small></a></dt>
                {% else %}
                    <dt><a target="_new" href="{% url score %}" ><small>{% trans "Evaluation criteria" %}</small></a></dt>
                {% endif %}

            </dl>
        </div>

        {% if announcements %}
        <div class="box">
            <h2>
                {% trans "Announcements" %}
                <a class="pull-right" href="{% url announcements_feed course.slug %}"><img src="{{ STATIC_URL }}img/share_icons/rss.png" alt="Subscribe to Announcements RSS" /></a>
            </h2>
            <dl>
                {% for announcement in announcements %}
                    <dt>{{ announcement.datetime|date:"d / M / Y - H:i" }}</dt>
                    <dd><a href="{% url courses.views.announcement_detail course.slug announcement.id announcement.slug %}">{{ announcement.title|truncatewords:8 }}</a></dd>
                {% endfor %}
            </dl>
        </div>
        {% endif %}

        <div class="box">
            <h2>{% trans "Syllabus" %}</h2>
            <ul>
                {% for unit in units %}
                {% if unit.status == 'l' %}
                    <li>{{ unit.title }}</li>
                {% else %}
                    <li><a href="{% url course_overview course.slug %}classroom/#unit{{ unit.id }}">{{ unit.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        {% if course.categories.all %}
        <div class="box">
            <h2>{% trans "Categories" %}</h2>
            <ul>{% for category in course.categories.all %}
                <li><a href="{% url category categories=category.slug %}">{{ category.name }}</a></li>
            {% endfor %}</ul>
        </div>
        {% endif %}

        <div class="box">
            <h2>{% trans "Share" %}</h2>
            <ul id="share">
                <li class="pull-left"><a href="https://twitter.com/share" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/twitter.png" alt="Share in Twitter" /></a></li>
                <li class="pull-left"><a href="http://www.facebook.com/sharer.php?u={{ request.build_absolute_uri }}" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/facebook.png" alt="Share in Facebook" /></a></li>
                <li class="pull-left"><a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/googleplus.png" alt="Share in Google Plus" /></a></li>
                <li class="pull-left"><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ request.build_absolute_uri }}" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/linkedin.png" alt="Share in LinkedIn" /></a></li>
                <li class="pull-left"><a href="http://reddit.com/submit?url={{ request.build_absolute_uri }}" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/reddit.png" alt="Share in Reddit" /></a></li>
                <li class="pull-left"><a href="mailto:?subject=Look at this great course&amp;body={{ request.build_absolute_uri }}" target='_blank'><img src="{{ STATIC_URL }}img/share_icons/email.png" alt="Share through email" /></a></li>
            </ul>
        </div>
        {% endcache %}
    </div>
</div>
{% endblock %}
