{% extends "courses/base_course.html" %}

{% load gravatar i18n %}

{% block nav-course-overview %}class="active"{% endblock %}

{% block content %}

<h1>{{ course.name }}</h1>

{% if course.promotion_video %}
<div class="media-box">
  <iframe width="1170" height="600" src="http://www.youtube.com/embed/{{ course.get_embeded_code_for_promotion_video }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}

<div class="row">
  <section class="span8">

    <div class="box">
      <h2>{% trans "Course summary" %}</h2>
      {{ course.description|safe }}
    </div>

    {% if course.requirements %}
    <div class="box">
      <h2>{% trans "Recommended requirements" %}</h2>
      {{ course.requirements|safe }}
    </div>
    {% endif %}

    {% if course.learning_goals %}
    <div class="box">
      <h2>{% trans "Learning goals" %}</h2>
      {{ course.learning_goals|safe }}
    </div>
    {% endif %}

  </section>
  <div class="span4">

    <div class="box">
      <h2>{% trans "Teachers" %}</h2>
      {% for teacher in course.teachers.all %}
      <h3>{% firstof teacher.get_full_name teacher.username %}</h3>
      {% gravatar_img_for_user teacher %}
      {% endfor %}
    </div>

    <div class="box">
      <h2>{% trans "Syllabus" %}</h2>
      <ol>
        {% for unit in course.unit_set.all %}
        <li>{{ unit.title }}</li>
        {% endfor %}
      </ol>
    </div>

    {% if is_enrolled %}
    <p>{% trans "You are enrolled in this course" %}</p>
    {% else %}
    <div style="text-align: center">
      {% if user.is_authenticated %}
      <form method="post" action="{% url course_overview course.slug %}">{% csrf_token %}
        <input type="submit" class="btn btn-large btn-primary" value="{% trans "Enroll me in this course" %}" />
      </form>
      {% else %}
      <a href="#" class="btn btn-large btn-primary">{% blocktrans with site_name=site.name %}Register in {{ site_name }} to enroll in this course{% endblocktrans %}</a>
      {% endif %}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}

